#root {
  display: grid;
  height: 100vh;
  width: 600px;
  margin: auto;
  justify-self: center;
  justify-items: center;
  text-align: center;
  grid-template-columns: 1fr;
}

.main,
.tinder,
.tournament {
  width: 100%;
  height: 100%;
}

.main-card,
.tinder-card {
  display: grid;
  grid-template-columns: 1fr;
  justify-items: center;
  height: 90%;
}

.tournament-card {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-row-gap: 10px;
  justify-items: center;
}

.card {
  width: 100%;
  height: 90%;
}

.alert {
  width: 100%;
  margin-bottom: 0 !important;
}

.card-img-top {
  height: 50%;
  object-fit: cover;
}

/* .card {
  word-wrap: break-word;
  width: 300px;
  text-align: left;
  padding: 10px;
}

.card-img {
  height: 300px;
  width: 300px;
  background-size: cover;
  background-position: center;
} */

@media only screen and (max-width: 599px) {
  #root {
    width: 100%;
  }

  .tournament-card {
    grid-template-columns: 1fr;
  }

  .tournament-card > .card {
    height: 45vh;
  }

}